@{
    ViewData["Title"] = "Home Page";
}

@model List<Dish>
<div class="text-center m-5">
    @await Html.PartialAsync("_navbar")
</div>
<div class="contaier text-center">
    <h1>Yum! Check out our tasty dishes!</h1>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>Chef</td>
                <td>Tastiness</td>
                <td>Calories</td>
            </tr>
        </thead>
        @foreach (Dish p in Model)
        {
            <tbody>
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Creator.FirstName @p.Creator.LastName</td>
                    <td>@p.Tastiness</td>
                    <td>@p.Calories</td>
                </tr>
            </tbody>

        }

    </table>
</div>
